@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}

.main-container {
    width: 370px;
    padding: 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: white;
}

.main-container header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.main-container form {
    margin: 0 0 20px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
}

form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid cornflowerblue;
}

form .drop-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #999;
}

.select-box select {
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
    width: 8px;
}

.select-box select::-webkit-scrollbar-track {
    background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-right: 2px solid #fff;
}

.select-box img {
    max-width: 25px;
}

.drop-list .icon {
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
    color: cornflowerblue;
}

form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: cornflowerblue;
}



.get-exchange-rate {
    margin-top: -10px;
}

.get-exchange-rate.loading {
    opacity: 0.7;
    cursor: not-allowed;
}

.amount {
    margin-top: 20px;
}

.converted-amount {
    margin-top: 20px;
}

.convert-currency {
    margin-top: 25px;
}

.convert-currency:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}